@media (max-width: 424px) {
  .container {
    max-width: 375px;
    background-color: hsl(217, 54%, 11%);
  }

  .nft-card-container {
    width: 280px;
    padding: 20px;
  }

  .card-heading {
    font-size: 18px;
  }

  .card-text {
    font-size: 14px;
    margin-bottom: 18px;
  }

  .eth-rate,
  .days-left {
    font-size: 14px;
  }

  .creator-img {
    width: 28px;
    height: 28px;
  }

  .creator-text {
    font-size: 14px;
  }
}
